.header {
    background-image: url(macbook.jpg);
    background-size: cover;
    background-position: center;
    height: 75vh;
    position: relative;
}

.header-box {
    background-color: white;
    width: 33%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7%;
    padding: 20px 40px;
    box-shadow: 10px 10px 50px black;
    border-radius: 15px;
    /* max-width: 33%; */
    /* max-height: 50%; */
}

.header-btn {
    border-radius: 15px;
    background-color: black;
    padding: 5px 10px;
    color: white;
    margin-right: 50px;
}

.mb {
    margin-bottom: 40px;
}

.uppercase {
    text-transform: uppercase;
    
}

.header-btn:hover {
    background-color: navy;
    border-color: navy;
    transform: scale(1.2);
    transition: ease-out;
    transition-duration: 1s;
}