* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#nav {
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    background-color: red;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

#logo {
    margin-right: auto;
}